.featured-blog{
    margin-block-start: 5rem;
    inline-size:75vw;
    block-size: max-content ;
    max-inline-size: 800px;
    margin-inline: auto;
    margin-block: 6rem;
    text-align: start;
    position: relative;
    border:1px solid black;
}
.featured-blog-detail img{
    inline-size: 100%;
}
.featured-box-label{
    position: absolute;
    inset-block-start: -3%;
    inset-inline-start: -0.1%;
    block-size: 6%;
    padding-block: 5px;
    background-color: white;
    border:1px solid black;
    padding-inline: 2rem;
    letter-spacing: 3px; 
}
.content{
    padding: 2rem;
}
.content span{
    display: flex;
    gap: 12px;
    margin-block-end: .5rem;
}
.content h3{
    font-size: x-large;
    font-weight: 500;
    margin-block-end: .5rem;
}
.paragraph-content{
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
}
@media screen and (width<580px) {
    .featured-blog{
        margin-block-start: 5rem;
        inline-size:100%;
        block-size: max-content ;
    }
    .content h3{
        font-size: large;
        font-weight: 500;
    }
    .paragraph-content{ 
        -webkit-line-clamp: 3; 
    }
    .featured-box-label{
        padding-block: 0;  
    }
    
}