.header {
  background-color: white;
  inline-size: 95vw;
  margin-inline: auto;
  max-inline-size: 1280px;
  padding-block-start: 3vh;
  font-family: monospace;
  display: grid;
}
.title {
  text-align: center;
  font-weight: bolder;
  font-size: 60px;
  margin-block: 3vh;
}
.subheading {
  text-align: center;
  font-weight: lighter;
  font-size: 25px;
}
.nav {
  block-size: 50px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  overflow-x: hidden;
}
.menu {
  block-size: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  border: none;
}
.menu li {
  display: flex;
  justify-content: center;
  align-items: center;
}
.border li:not(:first-of-type) {
  border-left: 1px solid black;
}
.nav .menu-btn {
  display: none;
}
.nav .menu {
  clear: none;
  max-height: none;
}
.nav .menu {
  clear: both;
  transition: max-height 0.2s ease-out;
}
@media screen and (width<=500px) {
  .title {
    order: 2;
  }
  .subheading {
    order: 3;
  }
  .nav {
    order: 1;
  }
  .nav .menu-icon {
    cursor: pointer;
    float: right;
    display: block;
    padding: 20px 20px;
    position: absolute;
    user-select: none;
    inset-inline-start: 0;
    inset-block-start: 0;
    translate: 40% 70%;
    z-index: 11;
  }
  .nav .menu-icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background 0.2s ease-out;
    inline-size: 18px;
  }
  .nav .menu-icon .navicon:before,
  .nav .menu-icon .navicon:after {
    background: #333;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    transition: all 0.2s ease-out;
    inline-size: 100%;
  }
  .nav .menu-icon .navicon:before {
    top: 5px;
  }
  .nav .menu-icon .navicon:after {
    top: -5px;
  }
  .menu {
    translate: 100%;
  }
  .nav .menu-btn:checked ~ .menu-icon {
    position: fixed;
  }
  .nav .menu-btn:checked ~ .menu {
    position: fixed;
    inset-inline-end: 0;
    inset-block-start: 0;
    inset-block-end: 0;
    z-index: 10;
    block-size: 100%;
    padding-block-start: 70px;
    inline-size: 500px;
    translate: 0% 0%;
    max-inline-size: 100%;
    background-color: white;
    inset-inline-start: 0;
    inset-block-start: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: large;
    font-weight: 900;
    -webkit-transition: translate 0.3s ease-in;
    -moz-transition: translate 0.3s ease-in;
    -o-transition: translate 0.3s ease-in;
    transition: translate 0.3s ease-in;
  }
  .nav .menu-btn:checked ~ .nav {
    overflow-y: hidden;
  }
  .border li:not(:first-of-type) {
    border-left: none;
  }

  .nav .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }

  .nav .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }

  .nav .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }

  .nav .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .nav .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }
}
