.single-blog-box{
    /* margin: 2rem; */
    padding: 1rem;
    border: 1px solid black;
    background-color:white
    /* text-align: start; */
}
.single-blog-info{
    display: flex;
    gap: 1rem;
    margin-block: 1.5rem;
}
.single-blog-heading{
    font-size: x-large;
    font-weight: 600;

}
.single-blog-subheading{
    text-align: start;
    margin-block: 1rem;
}
.single-blog-img{
    inline-size: 100%;
    block-size: auto;
    max-block-size: 200px;
    
}
.single-blog-img img{
    block-size: 200px;
    object-fit: cover;
   
}
.single-blog-content{
    margin-block: 1rem;
 
}
@media screen and (width<580px) {
    .single-blog-box{
       border: none;
    }
    
}