.blog-detail {
  display: flex;
  text-align: start;
  inline-size: 55vw;
  max-inline-size: 575px;
  block-size: 350px;
  border: 1px solid black;
  font-weight: 300;
}
.blog-detail .img {
  background-color: antiquewhite;
  inline-size: 100%;
}
.blog-detail img {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  cursor: pointer;
}
.blog-detail .blog-content {
  
  padding: 2rem;
  display: grid;
  justify-content: space-between;
  gap: 0.5rem;
}
.blog-content .content-info {
  display: flex;
  gap: 10px;
  font-size: smaller;
  font-weight: 300;
}
.blog-content .content-title {
  font-size: x-large;
  font-weight: 700;
  margin-block-end: 0.5rem;
  cursor: pointer;
}
.content-paragraph{
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
}
@media screen and (width<=500px) {
  .blog-detail {
    display: flex;
   flex-direction: column;
   text-align: start;
   inline-size: 100%;
   max-inline-size: 500px;
   block-size: max-content;
   max-block-size: 500px;
  }
  .blog-content .content-title {
    font-size: large;
    font-weight: 700;
    margin-block-end: 0.5rem;
    cursor: pointer;
  }
  
}
